#navbar {
  background-color: #eee;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
}

#navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#navbar a:hover {
  color: #6b46c1;
}
